
/* Global Layout Set-up */

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

.card, 
.phone {
    margin-top: 75px;
    padding: 35px;
}

.color-header-footer {
    background-color: #ffb3ff;
}

footer {
    font-size: 3em;
}

h1 {
    font-size: 4em;
}

h2 {
    padding: 35px 0px;
}

hr {
    margin: 200px 20px 0px 20px;
}

.left {
    width:50%;
    text-align: left;
    float: left;
    padding: 40px 20px;
}

.link {
    color: black;
    text-decoration-line: none;
    font-weight: bold;
}

main {
    background-color: #ccffcc;
}

.padding-wrapper {
    padding: 35px;
}

.profile div {
    width: auto;
    background-color: #cc8800;
    margin: 0px 130px 0px 130px;
}

.profile_img img  {
    width: 50%;
    border-radius: 50%;
    margin: 10px;
}

.right {
    width:50%;
    float: right;
    text-align: right;
    padding: 40px 20px;
}
.section {
    margin-top: 120px;
    padding-top: 120px;
    padding-bottom: 35px;
}

.top {
    background-color: white;
    margin-top: 10px;
    padding: 25px;
    font-weight: bold;
}

/* Media Queries */
@media (min-width: 321px) and (max-width: 768px) {

}

@media (min-width: 769px) {
    
}