
/* Global Layout Set-up */

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-size: 1em;
}
.button-wrapper{
    padding: 1.5em 1em; 

}
.card{
    margin-top: 75px;
    padding: 35px;
}

.color-header-footer {
    background-color: #ffb3ff;
}

#contact{
    background-color:#ffb3ff;
}

.bottom_menu {
    visibility: hidden;
}

footer {
    background-color: #ffb3ff;
    padding: 1em 20px 0 20px;
    overflow: auto;
}

h1 {
    font-size: 4em;
}

h2 {
    padding: 35px 0px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    padding: 0 20px;
}

.left {
    width:50%;
    text-align: left;
    float: left;
    position: relative;
}

.link {
    color: black;
    text-decoration-line: none;
    font-weight: bold;
}

.link_bottom {
    color: black;
    text-decoration-line: none;
}

main {
    background-color: #ccffcc;
}

.padding-wrapper {
    padding: 35px;
}

#portfolio{

}

#profile{
    background-color:#ffb3ff;
}

#profile-img-wrapper {
    width: auto;
    background-color: #cc8800;
    margin: 0px 130px 0px 130px;
}

#profile-img-wrapper img  {
    width: 50%;
    border-radius: 50%;
    margin: 10px;
}

.right {
    width:50%;
    float: right;
    text-align: right;
}
.section {
    padding: 120px 0 120px 0;
}

.top {
    background-color: white;
    margin-top: 10px;
    padding: 25px;
    font-weight: bold;
}

/* Media Queries */
@media (min-width: 769px) and (max-width: 1023px) {

    * {
        font-size: 1.1em;
        overflow: auto;
    }

    .bottom_menu {
        visibility: visible;
    }

    /*.bottom_menu nav div {
        text-align: right;
        width: 60%;
        float: right;
        position: relative;
        font-size: 1em;
    }*/

    /*.bottom_menu nav div:nth-child(2) {
        margin-right: 20%;
    }*/

    .button-wrapper-link {
        width: 33%;
        float: left;
        font-size: 1em;
        font-weight: bold;
    }

    .card {
        float: left;
        width: 50%;
        margin-top: 20px;
        padding-top: 20px;
    }

    #contact>.card {
        float: none;
        width: 100%
    }

    .default_bottom_menu {
        height: 0;
        visibility: hidden;
    }

    .head {
        width: 70%;
        margin-left: 15%;
        font-size: 0.8em;
    }

    header {
        padding-bottom: 40px;
    }

    .left {
        width:40%;
    }

    #profile {
        display: block;
    }

    #profile .card{
        float: left;
        margin-top: 0px;
        padding-top: 0px;
        width: 45%;
    } 

    #profile div:nth-child(1){
        float: right;
        width:45%;
    }
    
    #profile-img-wrapper {
        margin: 0px 30px 0px 30px;
    }

    .right {
        width: 60%;
    }

    .section {
        padding: 70px 0px 50px 0px;
    }

    .top{
        float: left;
        width: 31%;
        margin: 0px 5px;
    }
}

@media (min-width: 1024px) {
    
}